@charset "utf-8";

body {
	margin: 1em;
	font-family: 'メイリオ', Meiryo, serif;
}

h1 {
	margin: 5pt 0;
	padding: 5pt;
	background-color: #ccf;
}

h2 {
	margin: 10pt 0 5pt 0;
	padding: 5pt;
	background-color: #eef;
	border-left: #ccf 10pt solid;
}

h3 {
	margin: 10pt 0 5pt 0;
	padding: 5pt;
	border-left: #ccf 10pt solid;
	border-bottom: #ccf 1pt solid;
}

h4 {
	margin: 10pt 0 5pt 0;
	padding: 5pt;
	border-bottom: #ccf 1px solid;
}

.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.menu ul {
	margin: 4px !important;
	padding: 0;
}

.menu li {
	display: inline;
}

table {
	margin: 0;
	padding: 0;
	border: none;
}

table.base {
	margin: 0 auto;
	padding: 0pt;
	border-collapse: collapse;
	border: 2px solid #000;
}

.base th {
	margin: 0px;
	padding: 5px;
	border: 1px solid #000;
	background-color: #eef;
}

td {
	margin: 0;
	padding: 0;
	border: none;
}

.base td {
	margin: 0px;
	padding: 5px;
	border: 1px solid #000;
}

p a[href^="https:"]:after {
	margin-left: 1px;
	margin-right: 1px;
	content: url(image/external-link-green04-Shapes4FREE.png);
}

p a[href^="http:"]:after {
	margin-left: 1px;
	margin-right: 1px;
	content: url(image/external-link-red02-Shapes4FREE.png);
}

.routemap {
	background-color: #fc9;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: #fcc #f96 #f96 #fcc;
	border-radius: .4em; /* Opera 10.5, IE 9, Saf4+, Chrome, FF4+ */
}

pre, code, var, samp, kbd, .mono {
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	font-size: 14px;
	line-height: 1.2;
}

pre {
	margin: 5pt;
	padding: 5pt;
	border: #ccf 1px solid;
}

strong {
	font-weight: bold;
	color: red;
}

var {
	color: green;
}

address {
	float: right;
}
