body {
  font-family: sans-serif;
}
#map {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
#crosshair {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}
@media screen and (max-width: 539px) {
  .ol-toolbar label, .ol-toolbar input { display: none; }
}
@media print {
  body { width: 259mm; height: 172mm; } /* A4 */
  .ol-control { display: none; }
}
